
<div class="container">

  <br>
  <!--Open start-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">BLOG INFORMÁTICA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['category', category.id]">{{ category.name }}</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Identifícate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Regístrate</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
        <li *ngIf="identity && identity.image">
          <img id="avatar" src="{{ url + 'user/avatar/' + identity.image }}" alt="{{ identity.name }}'s avatar">
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ identity.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/new-post']">Crear entrada</a>
            <a class="dropdown-item" [routerLink]="['/new-category']">Crear categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/profile', identity.sub]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/settings']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>   
  <!--Navbar end-->

  <!--Content-->
  <router-outlet></router-outlet>

  <!--Footer-->
  <footer>
    <hr>
    Front-End Angular. <a target="_blank" href="https://csantosdev.com">csantosdev</a> &copy;
    <hr>
  </footer>

  
</div>